.DS_Store
__pycache__
/semantic_segmentation/models/SAM/*
/semantic_segmentation/ckpt/model/models/SAM/*
/semantic_segmentation/imgs/
/semantic_segmentation/pretrained/
/semantic_segmentation/logs/
/semantic_segmentation/pretrained_models/
/semantic_segmentation/ckpt/
/semantic_segmentation/teacher_img
/semantic_segmentation/threshold_img
/semantic_segmentation/.idea
